<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/DataTables-1.10.16/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/Buttons-1.5.1/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/air-datepicker/css/datepicker.min.css"/>

    <script src="../static/jquery/jquery-3.3.1.min.js"></script>
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../static/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="../static/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="../static/Buttons-1.5.1/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="../static/Buttons-1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="../static/air-datepicker/js/datepicker.min.js"></script>
    <script type="text/javascript" src="../static/air-datepicker/js/i18n/datepicker.zh-TW.js" charset="UTF-8"></script>


</head>
<body>
<div id="test"></div>

<script>

    $(document).ready(function(){
        $("#test").html("<label>test123</label>");
    })

</script>
</body>
</html>